@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  font-size: 16px;
  text-decoration: none;
  background: no-repeat center url("images/1.png") #8e1f7e;
  background-position: 50% 4.5rem;
  background-size: 62.5%;
}

.services,
.portfolio,
.contacts {
  text-decoration: none;
  color: white;
}

.header {
  width: 100%;
  color: white;
  height: fit-content;
  position: absolute;
}

.information-left {
  display: flex;
  align-items: center;
  position: absolute;
  gap: 1.7rem;
  top: 1.1%;
  left: 22%;
}

.information-right {
  display: flex;
  align-items: center;
  position: relative;
  gap: 1.7rem;
  color: white;
  top: 1.1%;
  left: 96%;
}

.main-information {
  display: inline-flex;
  width: 79vw;
}

.mini-line1,
.mini-line2 {
  border-left: 1px solid white;
  height: 5vh;
  position: relative;
}

.big-line {
  border: 2px solid white;
  width: 92.70833333333333%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo-container {
  position: relative;
  left: 3.6%;
  margin-top: 2%;
}

.big-line-black {
  border: 2px solid black;
  width: 92.70833333333333%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.russian-field {
  background-color: white;
  margin-top: 42vh;
  width: 92.6%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.polerusskoe {
  text-decoration: none;
  color: #000;
  text-align: center;
  font-size: 14px;
  text-decoration-line: underline;
  opacity: 0.6;
  padding-bottom: 1.59%;
}

.client-moskow {
  display: inline-flex;
  gap: 1rem;
  position: relative;
  margin-top: 2%;
  left: 3.5%;
}

.container-pole {
  display: block;
  text-align: center;
}

.field {
  color: #000;
  text-align: center;
  font-size: 82px;
  letter-spacing: 6.613px;
  text-transform: uppercase;
  margin-top: 1.2%;
  margin-bottom: 1.39%;
}

.big-line-black-1 {
  margin-top: 1.59%;
  border: 2px solid black;
  width: 92.70833333333333%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.numbers {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 22%;
}

.procent15,
.procent30 {
  color: #000;
  text-align: right;
  font-family: "Noto Sans", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
}

.num15,
.num30 {
  display: flex;
  gap: 2rem;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
  align-items: center;
}

.mini-line3 {
  border-left: 1px solid black;
  height: 14.5vh;
  position: absolute;
  left: 50%;
}

.text-num1, .text-num2{
  display: flex;
  flex-direction: column;
  color: #000;
  font-family: Montserrat;
  font-size: 14px;
  height: fit-content;
  text-align: left;
}

