@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

body,html {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  /* overflow: hidden; */
  font-size: 16px;
  text-decoration: none;
  background: no-repeat center url("images/1.png") #8e1f7e;
  background-position: 50% 4.5rem;
  background-size: 62.5%;
}

a {
  text-decoration: none;
  color: white;
}

.header {
  width: 100%;
  color: white;
  height: fit-content;
  position: absolute;
}

.information-left {
  display: flex;
  align-items: center;
  position: absolute;
  gap: 1.7rem;
  top: 1.1%;
  left: 22%;
}

.information-right {
  display: flex;
  align-items: center;
  position: relative;
  gap: 1.7rem;
  color: white;
  top: 1.1%;
  /* place-self: center end !important; */
  left: 96%;
}

.main-information {
  display: inline-flex;
  width: 79vw;
}

/* .services{
  position: relative;
  left: 22.552083333333332%;
}

.portfolio{
  position: relative;
  left: 28.854166666666668%;
}

.contacts{
  position: relative;
  left: 81.5625%;
} */

.mini-line1, .mini-line2 {
  border-left: 1px solid white;
  height: 5vh;
  position: relative;
}

.big-line {
  border: 2px solid white;
  width: 92.70833333333333%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo-container {
  position: relative;
  left: 3.6%;
  margin-top: 2%;
}
