@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body, html{
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  overflow: hidden;
  font-size: 16;
  text-decoration: none;
  background-color: #8E1F7E;
}

a {
  text-decoration: none;
  color: white;
}

.header {
  width: 100%;
  color: white;
  height: fit-content;
  position: absolute;
}

.information-left {
  display: flex;
  align-items: center;
  position: absolute;
  gap: 1rem;
  top: 1.1%;
  left: 22%;
}

.information-right {
  display: flex;
  align-items: center;
  position: relative;
  gap: 1rem;
  color: white;
  top: 1.1%;
  /* place-self: center end !important; */
  left: 78.5%;
}

.main-information{
  display: inline-flex;
  width: 100vw;
}

/* .services{
  position: relative;
  left: 22.552083333333332%;
}

.portfolio{
  position: relative;
  left: 28.854166666666668%;
}

.contacts{
  position: relative;
  left: 81.5625%;
} */

.mini-line1, .mini-line2{
  border-left: 1px solid white;
  height: 5vh;
  position: relative;
}

.big-line {
  border: 2px solid white;
  width: 92.70833333333333%;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.logo-container {
  position: relative;
  left: 3.6%;
  margin-top: 2%;
}

.case-banner{
  width: 62.5%;
  height: 34.53125%;
  display: block;
  margin-left: auto;
  margin-right: auto
}