@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  overflow-x: hidden;
}

body,
html {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  font-size: 16px;
  text-decoration: none;
  background: no-repeat center url("images/1.png") #8e1f7e;
  background-position: 50% 4.5rem;
  background-size: 62.5%;
}

.services,
.portfolio,
.contacts {
  text-decoration: none;
  color: white;
}

.header {
  width: 100%;
  color: white;
  height: fit-content;
  position: relative;
}

.information-left {
  display: flex;
  align-items: center;
  position: relative;
  gap: 1.7rem;
  left: 22%;
}

.information-right {
  display: flex;
  align-items: center;
  position: relative;
  gap: 1.7rem;
  color: white;
  top: 1.1%;
  left: 97.5%;
}

.main-information {
  display: inline-flex;
  width: 79vw;
}

.mini-line1,
.mini-line2 {
  border-left: 1px solid white;
  height: 5.5vh;
  position: relative;
}

.big-line {
  border: 2px solid white;
  width: 92.70833333333333%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo-container {
  position: relative;
  left: 3.6%;
  margin-top: 2%;
}

.big-line-black {
  border: 2px solid black;
  width: 92.70833333333333%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.russian-field {
  background-color: white;
  margin-top: 42vh;
  width: 92.6%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.polerusskoe {
  text-decoration: none;
  color: #000;
  text-align: center;
  font-size: 14px;
  text-decoration-line: underline;
  opacity: 0.6;
  /* padding-bottom: 1.59%; */
}

.client-moskow {
  display: inline-flex;
  gap: 1rem;
  position: relative;
  margin-top: 2%;
  left: 3.5%;
}

.container-pole {
  display: block;
  text-align: center;
}

.field {
  color: #000;
  text-align: center;
  font-size: 82px;
  letter-spacing: 6.613px;
  text-transform: uppercase;
  margin-top: 1.2%;
  margin-bottom: 1.39%;
}

.big-line-black-1 {
  margin-top: 1.59%;
  border: 2px solid black;
  width: 92.70833333333333%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.numbers {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 22%;
}

.procent15,
.procent30 {
  color: #000;
  text-align: right;
  font-family: "Noto Sans", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
}

.num15,
.num30 {
  display: flex;
  gap: 2rem;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
  align-items: center;
}

.mini-line3 {
  border-left: 1px solid black;
  height: 14vh;
  position: relative;
  left: 50%;
}

.text-num1,
.text-num2 {
  display: flex;
  flex-direction: column;
  color: #000;
  font-family: Montserrat;
  font-size: 14px;
  height: fit-content;
  text-align: left;
}

.task-and-done {
  background-color: white;
  height: 58vh;
  width: 100vw;
  display: flex;
}

.task,
.done {
  color: var(--blue, #002eff);
  font-family: Montserrat;
  font-size: 20px;
  position: relative;
  top: 6rem;
}

.task-left,
.done-right {
  display: flex;
  flex-direction: column;
}

.big-line-container {
  background-color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.big-line-black-2 {
  border: 2px solid black;
  width: 92.5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.task {
  position: relative;
  left: 11.5%;
}

.done {
  position: relative;
  right: 15.71%;
  width: fit-content;
}

.task-text,
.done-text {
  position: relative;
  top: 8.5rem;
  color: #000;
  font-size: 30px;
}

.task-text {
  position: relative;
  width: 65%;
  left: 11.5%;
}

.done-text {
  position: relative;
  right: 15.71%;
  width: 100%;
}

.instruments-and-prdone {
  display: flex;
  background-color: white;
  gap: 15%;
  height: 75vh;
}

.grey {
  border: 1px solid black;
  opacity: 0.2;
  width: 98%;
}

.black {
  border: 1px solid black;
  width: 98%;
}

.instruments-text1,
.prdone-text,
.instruments-text2 {
  color: #000;
  font-size: 30px;
  position: relative;
  top: 6rem;
}

.instruments-case {
  position: relative;
  left: 3.7%;
}

.instruments {
  display: flex;
  flex-direction: column;
  color: blue;
  font-family: Montserrat;
  font-size: 28px;
  width: 40vw;
  position: relative;
  top: 26.9%;
  gap: 1rem;
}

.google,
.google-tag,
.yandex,
.axure {
  align-content: baseline;
  display: flex;
  gap: 1rem;
}

.optimizationpr,
.online-analytics,
.visualization,
.optimization {
  display: flex;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  gap: 1rem;
}

.google-tag-text,
.google-text,
.yandex-text,
.axure-text {
  position: relative;
  top: 0.5rem;
}

.optimization {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  text-align: left;
  align-items: center;
}

.optimization-name {
  display: flex;
  color: var(--blue, #002eff);
  font-family: Montserrat;
  font-size: 18px;
  gap: 1rem;
  text-align: left;
  align-items: center;
  align-self: flex-start;
}

.optimization-text {
  color: #000;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  position: relative;
  left: 5%;
  margin-top: 2%;
  margin-bottom: 4%;
}

.prdone {
  position: relative;
  top: 30%;
  color: #000;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
}

.prdone-text {
  width: 23vw;
}

.visual,
.opt,
.online {
  position: relative;
  top: 0.2rem;
}

.team {
  background-color: white;
  height: 105vh;
  width: 100vw;
  display: flex;
  gap: 5rem;
}

.memb1,
.memb2,
.memb3,
.memb4,
.memb5 {
  display: flex;
  gap: 1rem;
}

.memb2 {
  position: relative;
  bottom: 0.5rem;
}

.memb3 {
  position: relative;
  bottom: 1rem;
}

.memb4 {
  position: relative;
  bottom: 1.5rem;
}

.memb5 {
  position: relative;
  bottom: 2rem;
}

.team-case {
  display: flex;
  gap: 5.5rem;
}

.team-text,
.pr-team {
  color: #000;
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
  font-size: 30px;
  width: 18rem;
  position: relative;
  left: 20%;
}

.memm-img {
  width: 40%;
}

.content-manager {
  color: blue;
  position: relative;
  top: 3rem;
  font-size: 18px;
  width: 23vw;
}

.veryical {
  border-left: 2px solid #000;
  height: 10vh;
  position: relative;
  bottom: 0.5rem;
  opacity: 0.4;
}

.veryical2 {
  border-left: 2px solid blue;
  height: 10vh;
  position: relative;
  bottom: 0.5rem;
}

.desc1,
.desc2,
.desc3,
.desc4,
.desc5 {
  margin-bottom: 5%;
  display: flex;
  gap: 2rem;
  width: 90%;
  color: #000;
  font-family: Montserrat;
  font-size: 12px;
  align-content: center;
}

.description-case {
  position: relative;
  width: 50%;
  margin-top: 1%;
}

.creative-director,
.digital,
.copywriter,
.account-manager {
  position: relative;
  top: 3rem;
  color: #000;
  font-size: 18px;
  width: 23vw;
}

.team-case,
.description-case {
  position: relative;
  top: 7rem;
}

.Achievements {
  display: flex;
  width: 100vw;
  background-color: white;
  gap: 10rem;
}

.Achievements section {
  width: 24vw;
}

.results {
  color: #000;
  font-size: 30px;
  width: 10vw;
  position: relative;
  left: 4%;
  margin-top: 10%;
  margin-right: 2%;
}

.Percent {
  color: var(--blue, #002eff);
  font-family: Noto Sans;
  font-size: 40px;
  text-transform: uppercase;
}

.block1,
.block2 {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  margin-bottom: 10%;
}

.under-percent {
  color: var(--blue, #002eff);
  font-family: Montserrat;
  font-size: 18px;
  width: 19vw;
  display: block;
}

.p103,
.p30 {
  margin-top: 30%;
}


